@using DogsMvc.Models;
@model Dog[]

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <form action="/delete/@item.Id" method="post">
            <p>
                <span>@item</span>
                <a href="dogs/edit/@item.Id">Edit</a>
                <input type="submit" value="Delete"/>
            </p>
        </form>
    }
    <a href="/create">Create a new dog</a>
</body>
</html>
